@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import "tailwindcss";
@plugin "daisyui";
/* className="bg-linear-to-r from-[#C9E4DE] to-[#DFE3E7]" */
@plugin "daisyui" {
  themes: light --default, night --prefersdark;
}
@custom-variant dark (&:where([data-theme=night], [data-theme=night] *));

:root {
  --brand: #2a6877;
  --brand-soft: #e6f2f5;
}

[data-theme="night"] {
  --brand: #6fc3d4;
  --brand-soft: #0f2e35;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
}
.title-text {
  color: #2a6877;
  font-weight: bold;
  font-family: "Space Grotesk", sans-serif;
}
h1 {
  font-family: "Space Grotesk", sans-serif;
}
.logo {
  font-family: "Archivo Black", sans-serif;
}
.glass-bg {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.05)
  );
  backdrop-filter: blur(18px);
}
